/* body {
    background-color: aqua;
    margin: 0px;
    background-image: none, linear-gradient(45deg, #e37682 15%, #5f4d93 80%);
}

header {
    margin: 0;
}

main h2:first-of-type {
    margin: 0;
}

main {
    background-color: beige;
    margin: 100px auto;
    margin: 0px auto;
    max-width: 1450.67px;
}
 */
